*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
body{
  font-family: Arial;
}
.wrapper{
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}
.block_nav_1{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EFEFEF;
  height: 50px;

}
.nav_list_1{
  display: flex;
}
.nav_list_1 a{
  color:black;
  text-decoration:none;
}
.li_nav_1{
  padding: 0 15px;
  font-size: 14px;
  line-height: 16px;
}
.block_nav_2{
  display:flex;
  align-items: center;
  justify-content:space-between;
  height: 120px;
}
.input_text{
  width: 250px;
  height: 40px;
  background: #EFEFEF;
  border-radius: 25px;
}
.Vector{
}
.phone{
font-size: 16px;
line-height: 19px;

}
.button_phone{
  height: 40px;
  width: 170px;
  border-radius: 25px;
  border: 3px solid #F13C6E;
}
.button_phone_text{
font-size: 14px;
line-height: 16px;
}
.beauty{
  width: 158px;
  height: 39px;

}
.logo{
  width:80px;
  height:80px;
}
