*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
body{
  font-family: Arial;
}
.wrapper{
  margin: 0 auto;
  width: 100%;
}
.block_nav_1{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EFEFEF;
  height: 50px;

}
.nav_list_1{
  display: flex;
}
.nav_list_1 a{
  color:black;
  text-decoration:none;
}
.li_nav_1{
  padding: 0 15px;
  font-size: 14px;
  line-height: 16px;
}
.block_nav_2{
  display:flex;
  align-items: center;
  justify-content:space-between;
  height: 120px;
  max-width: 1110px;
  margin: 0 auto;
}
.input_text{
  width: 250px;
  height: 40px;
  background: #EFEFEF;
  border-radius: 25px;
}
.Vector{
  background: url("img/Vector.svg") no-repeat;
  width: 20px;
  height: 19.09px;
  z-index: 3;
  position: relative;
  left:100px;
}
.phone{
font-size: 16px;
line-height: 19px;

}
.button_phone{
  height: 40px;
  width: 170px;
  border-radius: 25px;
  border: 3px solid #F13C6E;
}
.button_phone_text{
font-size: 14px;
line-height: 16px;
}
.beauty{
  width: 158px;
  height: 39px;
}
.bcg_button{

}
.logo{
  max-width:80px;
  max-height:80px;
}
hr{
  border: 1px solid #EFEFEF;
}
.block_nav_3{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 77px;
}
.block_nav_3 a{
  color:black;
  text-decoration: none;
}
.nav_item{
font-size: 16px;
line-height: 19px;
padding: 20px;
}
.bcg_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1110px;
  padding-top: 10%;

}
.big_h2{
font-size: 48px;
font-weight: 700;
line-height: 56px;
text-align: left;
color: white;
padding-bottom: 4%
}
.p_text_bcg{
font-size: 14px;
line-height: 20px;
text-align: left;
color:white;
padding-bottom: 4%
}
.bcg_button{
  width: 170px;
  height: 40px;
  border:2px solid white;
  border-radius: 25px;
  background: #F13C6E;
  color: white;
  margin-bottom: 80px;
}
.button_bcg_text{
font-size: 14px;
line-height: 16px;
}

.img_bcg{
  background: url("img/bcg.png") no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
  max-height: 604px;
}
.specially{
padding-top: 8%;
padding-bottom: 3%;
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-align: left;

}
.main_content{
  max-width: 1110px;
  margin: 0 auto;
}
main{
  background: #EFEFEF;
}
.container_set{
  width: 255px;
  height: 363px;
  background:white;
  display: grid;
  grid-column-gap: 10px;
}
.set_img{
  padding-top: 100px;
  background: url("img/set.png") no-repeat;
  height: 166px;
  width: 125px;
  text-align: center;
  display:block;
  margin:auto;
}
.container_text{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.price{
  font-size: 21px;
  font-weight:medium;
  line-height: 25px;
  text-align: center;

}
.button_set{
  background: #F13C6E;
  width: 130px;
  height: 35px;
  border-radius: 30px;
  display: block;
  margin: auto;
  margin-top:-10px;
}
.button_set_text{
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color:white;
}
.container_set_all{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}
@media (max-width:1142px){
  .block_nav_2{
    padding:0 10px;
  }
}
@media(max-width:997px){
  .phone{
  font-size: 11px;
  line-height: 14px;
}
  .button_phone{
    height: 30px;
    width: 120px;
  }
  .button_phone_text{
  font-size: 13px;
  line-height: 11px;
}
  .beauty{
    width: 138px;
    height: 19px;
  }
  .logo{
    max-width:60px;
    max-height:60px;
  }
  .input_text{
    width: 200px;
    height: 30px;
  }
  .block_nav_2{
    height: 80px;
  }
  .bcg_button{
    width: 120px;
    height: 35px;
    margin-bottom: 30px;
  }
  .button_bcg_text{
  font-size: 14px;
  line-height: 15px;
  }

}
@media (max-width:1300px){
  .bcg_content{
    padding: 6% 15px 0;
  }
  .big_h2{
  font-size: 34px;
  line-height: 46px;
  padding-bottom: 3%
  }
  .p_text_bcg{
  font-size: 11px;
  line-height: 15px;
  padding-bottom: 3%;
  }
  .bcg_button{
    width: 150px;
    height: 40px;
    border:2px solid white;
    border-radius: 25px;
    background: #F13C6E;
    color: white;
  }
  .button_bcg_text{
  font-size: 14px;
  line-height: 16px;
  }
}
@media(max-width:640px){
  .bcg_button{
    width: 70px;
    height: 22px;
    border:1px solid white;
    border-radius: 20px;
    margin-bottom: 22px;
  }
  .button_bcg_text{
  font-size: 8px;
  line-height: 12px;
  }
  .bcg_content{
    padding-top: 1%;
  }
  .big_h2{
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: white;
  padding-bottom: 3%
  }
  .p_text_bcg{
  font-size: 9px;
  line-height: 10px;
  padding-bottom: 3%
  }
}
@media(max-width:640px){

}
